/* Settings that apply to entire gallery */
div.rfg-gallery {
}

/* Effect for thumbnails in gallery */
img.rfg-img {
    bottom: 0px;
    opacity:1;
    filter:alpha(opacity=100);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

div.rfg-ad {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

/* Gallery main wrapper */
div.rfg-mainwrapper {
    display:table !important;
    margin:auto;
    width: 100%;
    border:none; 
}

/* Individual image cell in the gallery */
div.rfg-cell {
    display:inline-block !important;
    text-align:left;
    vertical-align:top;
    margin:auto;
    padding-right:6px;
    padding-bottom:10px;
    position: relative;

    /* hover off */
    opacity:1;
    filter:alpha(opacity=1);
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

div.rfg-cell:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
    transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -webkit-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    line-height: 0; /* required to position title correct on all themes */
}

/* Hover effect for pagination links */
a.rfg-page:hover {
    background:royalblue;
    color:white;
    text-decoration:none;
}

/* Pagination */
div.rfg-pagination {
    float: left;
    width: 100%;
    margin:auto;
    border:0;
    text-align:center;
    font-size:0.9em; 
}

font.rfg-page {
    border:1px solid gray;
}

font.rfg-cur-page {
    border:1px solid gray;
    background-color:gray;
    color:white;
}

/* Text decoration for pagination links */
a.rfg-page:visited, a.rfg-page:link {
    text-decoration:none;
    border:1px solid gray;
}

/* Credit Note */
div.rfg-credit {
    text-align:right;
    font-size:0.9em;
}

div.rfg-img-wrapper {
    float:left; /* important */  
    position:relative; /* important (so we can absolutely position the rft-title div */ 
}

/* Photo title */
div.rfg-title {
    line-height: 1.65;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    background: rgba(0,0,0,0.5);
    text-align: center;
    color: lightgray; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkite-border-bottom-left-radius: 6px;
    -webkite-border-bottom-right-radius: 6px;
}

/* Photo Description */
div.rfg-description {
    font-size:85%;
    margin-right:5%;
    font-style:italic;
}
