/* Settings that apply to entire gallery */
div.rfg-gallery {
    margin:auto;
}

/* Effect for thumbnails in gallery */
img.rfg-img {
    margin-top:5%;
    opacity:1;
    filter:alpha(opacity=100);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}

div.rfg-ad {
    margin-top:5%;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}

/* Gallery structure */
div.rfg-table {
    display:table !important;
    margin:auto;
    border:none; 
}

/* Table row */
div.rfg-row {
    display:table-row !important;
}

/* Individual image cell in the gallery */
div.rfg-cell {
    display:inline-block !important;
    text-align:left;
    vertical-align:top;
    margin:auto;
    padding-right:6px;
    padding-bottom:10px;
    position: relative;

    /* hover off */
    opacity:1;
    filter:alpha(opacity=1);
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

div.rfg-cell:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
    transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -webkit-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

/* Hover effect for pagination links */
a.rfg-page:hover {
    background:royalblue;
    color:white;
    text-decoration:none;
}

/* Pagination */
div.rfg-pagination {
    margin:auto;
    border:0;
    text-align:center;
    font-size:0.9em; 
}

font.rfg-page {
    border:1px solid gray;
}

font.rfg-cur-page {
    border:1px solid gray;
    background-color:gray;
    color:white;
}

/* Text decoration for pagination links */
a.rfg-page:visited, a.rfg-page:link {
    text-decoration:none;
    border:1px solid gray;
}

/* Credit Note */
div.rfg-credit {
    text-align:right;
    font-size:0.9em;
}

/* Photo title */
div.rfg-title {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 6px;

    background: rgba(0,0,0,0.5);
    text-align: center;
    color: lightgray; 
}

/* Photo Description */
div.rfg-description {
    font-size:85%;
    margin-right:5%;
    font-style:italic;
}
